$gap: 2rem;

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;

  .description {
    text-align: justify;
    padding: 0 7rem;
  }

  .habitat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .habitat-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 60%;
    border: 2px solid #225332;
    gap: 1rem;
  }

  .habitat-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .habitat-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem
  }

  .habitat-description h2 {
    margin: 0;
    font-size: 1.5em;
  }


  .habitat-button {
    background-color: #89a882;
    color: white;
    align-items: center;
  }

  .habitat-button:hover {
    background-color: #5c7948ce;
  }
  
  .button-animals {
    display: flex;
    align-items: center;
    background-color: #486b53;
    color: white;
  }
}
