$gap: 2rem;

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;

  h1 {
    font-family: "junge", sans-serif;
  }

  .description {
    text-align: justify;
    padding: 0 7rem;
  }

  .habitat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .habitat-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 60%;
    border: 4px solid #395031;
    gap: 1rem;
  }

  .habitat-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .habitat-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;

    h2 {
      font-family: "junge", sans-serif;
    }

    p {
      text-align: justify;
      word-break: break-word;
    }
  }

  .habitat-description h2 {
    margin: 0;
    font-size: 1.5em;
  }

  .habitat-button {
    text-align: center;
    font-family: "junge", sans-serif;
    background-color: rgb(115, 146, 111);
    color: white;
  }

  .habitat-button:hover {
    background-color: rgb(84, 109, 81);
    
  }

  .button-animals {
    display: flex;
    align-items: center;
    background-color: #486b53;
    color: white;
  }
}
