<h1>Les habitats</h1>

<p class="description">
  Arcadia est un zoo situé en France près de la forêt de Brocéliande, en
  bretagne depuis 1960. Ils possèdent tout un panel d’animaux, réparti par
  habitat (savane, jungle, marais) et font extrêmement attention à leurs santés.
  Chaque jour, plusieurs vétérinaires viennent afin d’effectuer les contrôles
  sur chaque animal avant l’ouverture du zoo afin de s’assurer que tout se passe
  bien, de même, toute la nourriture donnée est calculée afin d’avoir le bon
  grammage (le bon grammage est précisé dans le rapport du vétérinaire). Le zoo,
  se porte très bien financièrement, les animaux sont heureux. Cela fait la
  fierté de son directeur, José, qui a de grandes ambitions. Arcadia est un zoo
  situé en France près de la forêt de Brocéliande, en bretagne depuis 1960. Ils
  possèdent tout un panel d’animaux, réparti par habitat (savane, jungle,
  marais) et font extrêmement attention à leurs santés. Chaque jour, plusieurs
  vétérinaires viennent afin d’effectuer les contrôles sur chaque animal avant
  l’ouverture du zoo afin de s’assurer que tout se passe bien, de même, toute la
  nourriture donnée est calculée afin d’avoir le bon grammage (le bon grammage
  est précisé dans le rapport du vétérinaire). Le zoo, se porte très bien
  financièrement, les animaux sont heureux. Cela fait la fierté de son
  directeur, José, qui a de grandes ambitions.
</p>

<div class="habitat-container">
  @for (habitat of habitats$(); track habitat.id) {
    <div class="habitat-item">
      <img [src]="habitat.habitatImageUrl" [alt]="habitat.name" />
      <div class="habitat-description">
        <h2>{{ habitat.name }}</h2>
        <p>{{ habitat.description }}</p>
        <button class="habitat-button" mat-raised-button>
          Découvrir les animaux de l'habitat : {{ habitat.name }}
        </button>
      </div>
    </div>
  }
</div>

<button class="button-animals" mat-raised-button (click)="goTo('/animal')">
  Découvrir tous les animaux
</button>
