<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState$.set(true)"
    (closed)="panelOpenState$.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Modifier un horaire</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-stepper linear #stepper>
      <mat-step
        [stepControl]="editForm.controls.dayOfWeek"
        errorMessage="Jour obligatoire."
      >
        <ng-template matStepLabel>Jour</ng-template>
        <form>
          <mat-form-field class="mat-form-field-custom-width" appearance="fill">
            <mat-icon matPrefix>calendar_month</mat-icon>
            <mat-label>Jour</mat-label>
            <input
              type="text"
              matInput
              [formControl]="dayOfWeek"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (day of filteredTimetableDays$ | async; track $index) {
                <mat-option [value]="day">{{ day }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <button
          (click)="findTimetableByDay(editForm.controls.dayOfWeek.value)"
          [disabled]="editForm.controls.dayOfWeek.invalid"
          mat-button
          matStepperNext
        >
          Suivant
        </button>
      </mat-step>

      <mat-step [stepControl]="editForm">
        <ng-template matStepLabel>Modifier l'horaire</ng-template>

        <div class="timetable-container">
          <form class="form" [formGroup]="editForm">
            <div class="timetable-form">
              <mat-form-field>
                <mat-label>Horaire d'ouverture</mat-label>
                <input
                  matInput
                  formControlName="openingTime"
                  [matTimepicker]="picker"
                />
                <mat-hint>hh:mm</mat-hint>
                <mat-timepicker-toggle matIconPrefix [for]="picker" />
                <mat-timepicker #picker />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Horaire de fermeture</mat-label>
                <input
                  matInput
                  formControlName="closingTime"
                  [matTimepicker]="picker2"
                />
                <mat-hint>hh:mm</mat-hint>
                <mat-timepicker-toggle matIconPrefix [for]="picker2" />
                <mat-timepicker #picker2 />
              </mat-form-field>

              <mat-checkbox formControlName="isClosed">Fermé</mat-checkbox>
            </div>

            <div class="buttons">
              <button (click)="onBackButton()" mat-button matStepperPrevious>
                Retour
              </button>
              <button (click)="updateTimetableById()" mat-button matStepperNext>
                Mettre à jour
              </button>
            </div>
          </form>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Terminé</ng-template>
        @if (isLoading$()) {
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          <p>Horaire modifié.</p>
          <div>
            <button mat-button (click)="onResetButton(stepper)">
              Modifier un autre horaire
            </button>
          </div>
        }
      </mat-step>
    </mat-stepper>
  </mat-expansion-panel>
</mat-accordion>
