<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Créer un compte utilisateur</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="account-container">
      <form [formGroup]="accountForm" (ngSubmit)="submit()">
        <div class="account-form">
          <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input
              matInput
              formControlName="firstName"
              placeholder="Jean-Eudes"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="lastName" placeholder="Dupont" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-icon matPrefix>mail</mat-icon>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="abc@arcadia.com"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Entrez un mot de passe</mat-label>
            <input matInput formControlName="password" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Rôle</mat-label>
            <mat-select formControlName="roleId">
              @for (role of roles(); track role) {
                <mat-option [value]="role.id">
                  {{ role.label }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="button-fit">
          <button
            [disabled]="accountForm.invalid"
            mat-raised-button
            type="submit"
          >
            Créer
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
