<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Supprimer un habitat</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="mat-form-field-custom-width" appearance="fill">
        <mat-icon matPrefix>home</mat-icon>
        <mat-label>Nom</mat-label>
        <input
          type="text"
          matInput
          [formControl]="name"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (name of filteredHabitatNames$ | async; track $index) {
            <mat-option [value]="name">{{ name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button [disabled]="name.invalid" mat-raised-button type="submit">
          Supprimer
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
