<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Créer un animal</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="animal-container">
      <form [formGroup]="animalForm" (ngSubmit)="submit()">
        <div class="animal-form">
          <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <mat-icon matPrefix>cruelty_free</mat-icon>
            <input matInput formControlName="name" placeholder="Gribouille" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date de naissance</mat-label>
            <input
              matInput
              formControlName="birthDate"
              [matDatepicker]="picker"
            />
            <mat-hint>JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle
              matIconPrefix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Habitat</mat-label>
            <mat-icon matPrefix>home</mat-icon>
            <mat-select formControlName="habitatId">
              @for (habitat of habitats(); track habitat.id) {
                <mat-option [value]="habitat.id">
                  {{ habitat.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Race</mat-label>
            <mat-icon matPrefix>pets</mat-icon>
            <mat-select formControlName="breedId">
              @for (breed of breeds(); track breed) {
                <mat-option [value]="breed.id">
                  {{ breed.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="button-fit">
            <button
              mat-raised-button
              [ngClass]="{ selected: selectedFile }"
              (click)="fileInput.click()"
            >
              <mat-icon>image</mat-icon>
              {{ selectedFile ? "Image sélectionnée" : "Ajouter une image" }}
            </button>
          </div>

          <input
            type="file"
            #fileInput
            (change)="onFileSelected(fileInput)"
            accept="image/*"
            hidden
          />
        </div>
        <div class="button-fit">
          <button
            [disabled]="animalForm.invalid"
            mat-raised-button
            type="submit"
          >
            Créer
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
