:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;

  .menu {
    margin-left: -1rem;
    margin-right: -1rem;
    text-align: center;
    background: rgba(83, 107, 75, 0.856);
    opacity: 0.8;

    .menu-title {
      opacity: 1 !important;
      font-size: 4rem;
      font-weight: normal;
      text-align: center;
      font-family: "junge", sans-serif;
      color: white;
      letter-spacing: 0.5rem;
    }

    ul {
      display: flex;
      gap: 70px;
      justify-content: center;
      opacity: 1;
    }

    button {
      background: none;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      transition: transform 0.2s;
      font-family: "junge", sans-serif;
    }

    button:hover {
      transform: scale(1.1);
    }
  }
}
