<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState$.set(true)"
    (closed)="panelOpenState$.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Modifier un rapport vétérinaire</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="name" errorMessage="Nom obligatoire.">
        <ng-template matStepLabel>Nom de l'animal</ng-template>
        <form>
          <mat-form-field class="mat-form-field-custom-width" appearance="fill">
            <mat-icon matPrefix>cruelty_free</mat-icon>
            <mat-label>Nom</mat-label>
            <input
              type="text"
              matInput
              [formControl]="name"
              [matAutocomplete]="auto"
              (selectionchange)="checkAnimalHasVetReport(name.value)"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (name of filteredAnimalNames$ | async; track $index) {
                <mat-option [value]="name">{{ name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <button
          (click)="findAnimalByName(name.value)"
          [disabled]="name.invalid || animalHasNoVetReport$()"
          mat-button
          matStepperNext
        >
          Suivant
        </button>
      </mat-step>

      <mat-step [stepControl]="vetReportForm">
        <ng-template matStepLabel>Ajouter des informations</ng-template>
        <div class="vet-report-container">
          <form class="form" [formGroup]="vetReportForm">
            <div class="vet-report-form">
              <mat-form-field appearance="fill">
                <mat-label>Nourriture</mat-label>
                <mat-icon matPrefix>egg</mat-icon>
                <input matInput formControlName="food" placeholder="Carottes" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Grammage (en g)</mat-label>
                <mat-icon matPrefix>scale</mat-icon>
                <input
                  matInput
                  type="number"
                  formControlName="foodWeight"
                  placeholder="500"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Etat</mat-label>
                <mat-icon matPrefix>sentiment_satisfied</mat-icon>
                <input
                  matInput
                  formControlName="status"
                  placeholder="En pleine forme !"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-icon matPrefix>info</mat-icon>
                <mat-label>Détails</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10"
                  formControlName="details"
                  placeholder="Evolution de la blessure à la patte arrière gauche à surveiller."
                ></textarea>
              </mat-form-field>
            </div>

            <div class="buttons">
              <button (click)="onBackButton()" mat-button matStepperPrevious>
                Retour
              </button>
              <button
                [disabled]="vetReportForm.invalid"
                (click)="updateVetReportByAnimalId()"
                mat-button
                matStepperNext
              >
                Ajouter
              </button>
            </div>
          </form>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Terminé</ng-template>

        @if (isLoading$()) {
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          <p>Rapport vétérinaire modifié.</p>
          <div>
            <button mat-button (click)="onResetButton(stepper)">
              Modifier un autre rapport vétérinaire
            </button>
          </div>
        }
      </mat-step>
    </mat-stepper>
  </mat-expansion-panel>
</mat-accordion>
