$gap: 2rem;

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;

  h1 {
    font-family: "junge", sans-serif;
  }

  .description {
    text-align: justify;
    padding: 0 7rem;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .service-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 60%;
    border: 4px solid #395031;
    gap: 1rem;
  }

  .service-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    aspect-ratio: 1/1;
  }

  .service-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;

    h2 {
      font-family: "junge", sans-serif;
    }
    p {
      text-align: justify;
      word-break: break-word;
    }
  }
}
