:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  
    ::ng-deep {
      .mat-horizontal-stepper-wrapper {
        display: flex;
        flex-flow: column;
        gap: 1rem;
      }
  
      .mat-step-header[aria-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  
    .habitat-container {
      display: flex;
      flex-flow: row;
      justify-self: center;
      justify-content: center;
      border: 1px solid #000;
      border-radius: 1rem;
      padding: 1rem;
      width: fit-content;
  
      form {
        display: flex;
        flex-flow: column;
        gap: 1rem;
  
        .habitat-form {
          display: flex;
          flex-flow: column;
          gap: 1rem;
          min-width: 30vw;
          width: fit-content;
  
          mat-radio-group {
            display: flex;
            flex-flow: row;
            align-items: center;
            gap: 1rem;
  
            .radio-buttons {
              display: flex;
              flex: 1 1 auto;
              flex-flow: row;
              justify-content: space-around;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
  